.carousel-item{
    max-height: 400px;
}
.tamanio{
    max-width: 540px;
    cursor:'pinter';
}

.cursor{
    cursor:"pointer";
}

ul{
    list-style-type:none;
}

.homepage-container {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }

.homepage-container h1 {
color: white; 
}

.homepage-container p {
color: white; 
}