table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #161111;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  color: #000;
}

th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}   

td.selected {
  background-color: #a0e0a0;
}

td.clickable {
  cursor: pointer;
}

td.not-allowed {
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #999;
}

td:hover {
  background-color: #e0f7fa;
}