body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffc
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #218838;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #056448;
    border-radius: 10px;
}

.navbar button:active{
  background-color:  #045f44;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 8px;
  text-align: center;
}

.content h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 40px;
}

.content p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
  max-width: 800px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #eafff0;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

td:hover {
  background-color: #d0ffd0;
}

